<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <connectionStrings>
      <!--<add name="DefaultConnection" connectionString="Data Source=LAPTOP-ND421GBM;Initial Catalog=RandomDB;Integrated Security=True;" providerName="System.Data.SqlClient" />-->
      <add name="DefaultConnection" connectionString="Data Source=LEEGAMER\SQLEXPRESS01;Initial Catalog=RandomDB;Integrated Security=True;" providerName="System.Data.SqlClient" />
      <!--<add name="DefaultConnection" connectionString="Data Source=DESKTOP-DOUGLAS\SQLEXPRESS;Initial Catalog=RandomDB;Integrated Security=True;" providerName="System.Data.SqlClient" />-->
  
  </connectionStrings>
  
</configuration>